html,
body {
    height: 100vh;
    width: 100vw;

}

.d-flex {
    background-color: blueviolet;
    height: 100%;
}

#players-count {
    width: 25%;
    display: inline-block;

}

label {
    font-weight: bold;
}